/* ############### DEFAULTS ############### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --firstColor: #171128;
    --secondColor: #e87163;
    --white: #fff;
    --black: #090A0A;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.hide{
    display: none;
}

.td-none{
    text-decoration: none;
    color:var(--firstColor);
}

hr{
    border: 1px solid #e2e9f3;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
}

.center{
    text-align: center;
}

.responsive-table{
    overflow-x: auto;
}

.responsive-table p{
    margin-bottom: 15px;
}

.bg-image{
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

/* Inputs */

.input-group{
    margin-bottom: 16px;
}

.input-group label{
    display: block;
    margin-bottom: 8px;
}

.input-control{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    color: #55595c;
    line-height: 1.6rem;
    padding: 0.75rem 1rem;
    height: 52px;
    border-radius: 5px;
}

.input-control-sm{
    height: 42px !important;
    display: inline-block;
}

textarea.input-control{
    resize: none;
    min-width: 100%;
    min-height: 10rem;
    
}

.input-control:focus{
    outline: 0;
    border: 1px solid var(--secondColor);
}

/* Buttons */

.btn{
    background-color: var(--secondColor);
    border: 1px solid transparent;
    padding: 0.65rem 1.5rem;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    border-radius: 5px;
    white-space: nowrap;
    color: var(--white);
    cursor: pointer;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: #b1b1b1;
    transition: 0.1s ease-in-out;
}

.btn-small{
    padding: 0.55rem 1.25rem;
}

.btn-big{
    min-width: 150px;
    padding: 0.85rem 1.5rem;
}

.btn-long{
    padding: 0.85rem 1.5rem;
    width: 100%;
}

.btn-primary{
    background-color: #1470ad;
}

.btn-danger{
    background-color: #d33530;
}

.btn-danger:hover{
    background-color: red;
}

.btn-standard{
    background-color: gray;
}

.btn .icon{
    font-size: 1.2rem;
    transform: translateY(3px);
}

/* ############### COMPONENTS ############### */

/* Flash messages*/
.msg{
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;}

.msg .msg-icon{
    font-size: 1.75rem;
    margin-right: 10px;
}

.msg.success{
    background-color: #eaf8f5;
    border: 2px solid #00bc98;
    color: #00bc98;
}

.msg.warning{
    background-color: #fbefa8;
    border: 2px solid #d39c04;
    color: #d39c04;
}

.msg.error{
    background-color: #fddfde;
    border: 2px solid #ff8887;
    color: #944949;
}

/* Erros*/

.form-errors{
    background-color: #fddfde;
    border: 2px solid #ff8887;
    color: #944949;
    padding: 16px 32px;
    border-radius: 3px;
    margin-bottom: 1rem;
}

/* Aside*/

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--firstColor);
    border-left: 15px solid var(--firstColor);
    overflow: hidden;
    transition: all 0.5s;
}

.navigation.active{
    width: 70px;
}

.navigation ul{
   position: absolute; 
   top: 10px;
   left: 0;
   width: 100%;
}

.navigation ul li{
   position: relative;
   list-style: none;
   width: 100%;
   margin-bottom: 15px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.active{
    background: var(--white);
}

.navigation ul li:first-child{
    margin-bottom: 40px;
    pointer-events: none;
}

.logo{
    position: relative;
    height: 60px;
    margin: 0 -15px;
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    line-height: 60px;
}

.navigation ul li:hover a,
.navigation ul li.active a{
    color: var(--secondColor);
}

.navigation ul li a .icon{
    font-size: 1.55rem;
    padding-left: 10px;
    transform: translateY(2px);
}

.navigation ul li a .title{
    padding: 0 20px;
    white-space: nowrap;
}

/*OUTSIDE CURVE*/
.navigation ul li:hover a::before,
.navigation ul li.active a::before{
   content: '';
   position: absolute;
   right: 0;
   top: -50px;
   width: 50px;
   height: 50px;
   background: transparent;
   border-radius: 50%;
   box-shadow: 35px 35px 0 10px var(--white);
   pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.active a::after{
    content: ' ';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
 }

 /* main */
 .main{
     position: absolute;
     width: calc(100% - 300px);
     top: 10px;
     left: 300px;
     min-height: 100vh;
     background: white;
     transition: 0.5s;
 }

 .main.active{
     width: calc(100% - 80px);
     left: 80px;
 }

 /* Top bar*/

 .topbar{
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 50px;
 }

 .burger-icon{
    font-size: 1.55rem;
    cursor: pointer;
 }

 .user{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 7rem;
 }

 .user img{
     position: relative;
     min-width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }

 .user .log-out{
    font-size: 1.1rem;
    color: #d33530;
 }

 .main-title{
     text-align: center;
     margin-bottom: 10px;
 }

/*Tables actions*/
.table-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .table-filters{
    flex-basis: 50%;
 }

 .table-buttons{
    flex-basis: 50%;
    text-align: right;
 }

 /*Tables*/

 table{
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

table tr{
    border-top: 1px solid var(--firstColor);
}

table th,
table td{
    padding: 12px;
    text-align: left;
    font-size: 1.1rem;
}

table td a{
    text-decoration: none;
    color: var(--firstColor);
}

table td a:hover{
    text-decoration: underline;
}

table .td-action-links{
    margin-top: 10px;
    font-size: 1rem;
}

table .td-action-links a.trash{
    color: #ff5e00;
}

table .td-action-links a.edit{
    color: #00a2ff;
}

/*Twin Tables*/

.twin-tables{
    display: flex; 
    justify-content: space-around;
}

.twin-tables table tbody tr:hover{
    cursor: default;
    background-color: #eef5fc;
}

.twin-tables table tbody tr .checkmark-icon{
    color: green;
    font-size: 1.2rem;
}

.twin-tables table tbody tr.selected .checkmark-icon{
    display: block;
}

.twin-tables table tbody tr .close-icon{
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
}

.twin-tables table tbody tr:hover .close-icon{
    display: block;
}


/*Admin Forms*/

.admin-form{
    margin: 15px auto;
}

.admin-form .post-details{
    display: flex;
}

.admin-form .post-details .select-topic-wrapper{
    flex-basis: 70%;
}

.admin-form .post-details .image-wrapper{
    flex-basis: 30%;
    padding: 25px 0 0 30px;
}

.admin-form .post-details .image-wrapper .btn-image{
    width: 100%;
    height: 52px;
    border: 1px dashed lightgray;
    border-radius: 3px;
}

.admin-form .text-editor{
    min-height: 150px;
}

.admin-form .text-editor p,
.admin-form .text-editor ul,
.admin-form .text-editor ol{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.admin-form .text-editor p{
    margin-bottom: 20px;
}

.admin-form .text-editor .ql-editor{
    min-height: inherit;
}

/*Avatar*/
.admin-form .avatar-input-group .change-avatar-btn{
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 8px;
    outline: none;
    background-image: url(../imgs/avatar/avatar.png);
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.admin-form .avatar-input-group .change-avatar-btn span{
    opacity: 0;
}

.admin-form .avatar-input-group .change-avatar-btn:hover span{
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.1rem;
    transition: opacity 0.125s ease-in-out;
}

/* ############### DEFAULT CONTAINERS ############### */
.admin-container{
    max-width: 1100px;
    margin: 0 auto;
}

.sm-box{
    max-width: 500px;
    width: 100%;
    padding: 32px 10px;
}

.md-box{
    width: 75%;
    padding: 10px 20px;
}

.lg-box{
    width: 95%;
    padding: 10px 10px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .md-box, .lg-box{
        width: 95%;
        padding: 32px 10px;
    }
}

/*DASHBOARD*/

.cardbox{
      position: relative;
      width: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
}

.card{
      position: relative;
      padding: 30px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.card:hover{
      background: var(--secondColor);
}

/*Featured Post*/

.featured-post-form{
    padding: 32px 0;
}

  .featured-post-form .input-control-sm{
    max-width: 400px;
    width: 100%;
}

@media only screen and (max-width: 756px) {
    .featured-post-form .input-control-sm{
        margin: 10px 0;
    }
    
    .table-filters input,
    .table-filters select{
        min-width: 150px;
        margin: 8px 0;
    }

}
  /*Responsive Design*/

@media (max-width: 900px) {
    
    .navigation{
        left: -300px;
    }

    .navigation.active{
        left: 0;
        width: 300px;
    }

    .main{
        left: 0;
        width: 100%;
    }

    .main.active{
        left: 300px;
    }

    .cardbox{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .cardbox{
        grid-template-columns: repeat(1, 1fr);
    }
}

