/*VARIABLES*/
:root{
    --font: 'Lato', sans-serif;
    --firstColor: #171128;
    --secondColor: #e87163;
    --thirdColor: #4c4e4e;
    --blackColor: #090a0a;
    --whiteColor: #fff;
}

/* ############### DEFAULTS ############### */
*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #fbfdff;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased; /* Makes the font look better (apple devices)*/
}

/* ############### GLOBALS ############### */
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.td-none{
    text-decoration: none;
    color: inherit;
}

.active{
    font-weight: 700;
}

.hide{
    display: none;
}

.gray-1{
    color: var(--thirdColor);
    font-size: 1.1rem
}

.post-title{
    font-size: 1.4rem;
}

.post-title:hover{
    text-decoration: underline;
}


/* ############### COMPONENTS ############### */

/*Header*/

header{
    max-width: 1500px;
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    padding: 0 4rem;
}

header .menu-icon, .close-icon{
    font-size: 2rem;
    font-weight: 700;
    color: var(--firstColor);
    display: none;
}

/*Nav*/
header .nav{
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-logo .logo-img{
    width: 12rem;
}

header .nav .nav-menu{
    display: flex;
}

header .nav-menu .nav-item a{
    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 0 15px;
}

header .nav .nav-auth{
    display: flex;
}

header .nav .sign-in a,
header .nav .sign-up a{
    color: var(--secondColor);
    font-size: 1.2rem;
    margin: 5px;
    padding: 8px 12px;
    border: 2px solid var(--secondColor);
    border-radius: 10px;
    transition:  all ease 0.5s;
}

header .nav .sign-in a:hover,
header .nav .sign-up a:hover{
    color: var(--whiteColor);
    background-color: var(--secondColor);
}

header .nav .nav-auth .nav-item{
    position: relative;
}

header .nav .nav-auth .nav-item.user{
    display: block;
    height: 80px;
    padding: 30px 0;
}

header .nav-auth .nav-item span,
header .nav-auth .nav-item a{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.arrow-down-icon{
    margin-left: 5px;
    transform: translateY(4px);
}

header .nav .nav-auth .nav-item .dropdown{
    width: 190px;
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: -1px -12px 28px 7px rgba(0,0,0,0.11);
    -webkit-box-shadow: -1px -12px 28px 7px rgba(0,0,0,0.11);
    -moz-box-shadow: -1px -12px 28px 7px rgba(0,0,0,0.11);
    opacity: 0;
    transform: translateY(35px);
    background-color: var(--whiteColor);
}

header .nav .nav-auth .dropdown::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 15%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid var(--whiteColor);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

header .nav-auth .dropdown li{
    border-bottom: 1px solid #dfeef3;
}

header .nav-auth .dropdown li:last-child{
    border-bottom: 1px solid transparent;
}

.nav-auth .dropdown li{
    padding: 16px;
}

.nav-auth .dropdown a:hover{
    color: var(--secondColor);
}

/*DROPDOWN ANIMATION*/
header .nav-auth .user:hover .dropdown{
    opacity: 1;
    z-index: 5;
    transform: translateY(0);
    transition: all 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

/*HEADER - media queries*/

@media only screen and (max-width: 1024px) {
    
    header{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 920px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .nav{
        justify-content: flex-end;
    }

    header .menu-icon{
        display: block;
    }
    
    header .nav-logo{
        position: fixed;
        left: 0;
        top:0;
        z-index: 25;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
        background-color: var(--whiteColor);
    }  

    header .nav-logo.open{
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }

    header .nav .nav-menu{
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 25;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 40px;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
        background-color: var(--whiteColor);
    }

    header .nav-menu.open{
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }

    header .nav-menu .nav-item{
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 15px 0;
    }

    header .nav-menu .nav-item a{
        padding-left: 20px;
    }

    header .nav-menu .nav-item a:hover{
        color: var(--firstColor);
    }

    .active{
        background-color: var(--secondColor);
        border-radius: 25px;
    }

    header .menu-icon.no-display{
        display: none;
    }

    header .nav-auth.no-display{
        display: none;
    }

    header .close-icon.display{
        display: block;
    }

    header .nav-auth .dropdown{
        display: none;
    }

    header .nav-auth .dropdown.display{
        display: block;
    }
}

/*Post Card*/

.post-card{
    height: 480px;
    border-radius: 3px;
    box-shadow: 0 18px 18px -5px #6991bb;
    overflow: hidden;
    margin: 0px 10px 30px;
}

.post-card .img-wrapper{
    height: 180px;
}

.post-card .post-info{
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card .post-info .top-info{
    display: flex;
    justify-content: space-between;
}

.post-card .post-info .top-info .topic-tag{
    background-color: #FDDCD8;
    padding: 5px 10px;
    border: 1px solid var(--secondColor);
    border-radius: 20px;
    color: var(--secondColor);
}

.post-card .post-info .post-preview{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #171717;
}

.post-card .post-info .post-preview p{
    display: inline;
}

.post-card .post-info .post-preview a{
    color: var(--secondColor);
}

.bottom-info .name,
.bottom-info .post-date{
    color: var(--thirdColor);
}

/*CAROUSEL*/

.carousel-container{
    position: relative;
}
 

.carousel-container .slick-list{
    margin: 0 -10px;
}

.carousel-container .slider-arrow{
    position: absolute;
    bottom: 0;
    min-height: 500px;
    font-size: 2rem;
    z-index: 20;
    background-color: transparent;
    border: none;
}

.carousel-container .slider-arrow.slick-disabled{
    display: none !important;
}

.carousel-container .next-arrow{
    right: -50px;
}

.carousel-container .preview-arrow{
    left: -50px;
}

/* ############### PAGES ############### */

/*BLOG PAGE*/

.page-container{
    max-width: 1200px;
    min-height: calc(100vh - 80px - 400px);
    margin: 0 auto;
    padding: 32px;
}

@media only screen and (max-width: 920px){
    .page-container{
        padding: 20px;
    }

    .carousel-container .next-arrow{
        right: -60px;
    }
    
    .carousel-container .preview-arrow{
        left: -60px;
    }
}

.page-section{
    margin: 0 auto 32px;
}

.page-footer{
    height: 400px;
    background-color: var(--firstColor);
}

